body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    line-height: 1.6em;
    margin: 0; /*Ingen hvite kanter rundt eventuelle bokser*/
}


.container{
    width: 90%;
    overflow: hidden; /*Fjerner unødvendige hvite kanter*/
    margin: auto; /*Legger innhold 20% unna kant*/
    /*overflow: hidden;*/
}
.container h1{
    margin-bottom: 0;
}
.container p{
    margin-top: 5px;
}


/*Ulike linker generelt på nettsiden*/
a{
    color: white;
    text-decoration: underline; /*Understrek*/
    padding-right: 15px;
}
a:hover{
    color: lightskyblue;
    text-decoration: none; /*Ikke understrek*/
}


/*Head*/
#main-header{
    background-color: lightgray;
}
#saferec-logo{
    padding-top: 15px;
    width: 300px;
}
#main-header p{
    margin-top: 0;
}


/*Navigation bar*/
#navbar{
    background-color: #333; /*Usikker på hva fargen er på "engelsk"*/
}
#navbar ul{
    padding: 0;
    list-style: none;
}
#navbar li{
    display: inline; /*Legger bullet- pointsa horisontalt*/
}


/**/
.block{
}


/*Sammarbeidspartnere*/
.gallery {
    /*margin: 5px 10px 5px 5px;
    /*border: 1px solid lightgray;*/
    float: left;

    /*width: 180px; Sikter til ulike størrelser i HTML, slik at */
    padding-bottom: 10px;
    box-sizing: border-box;
    /*Hover effekt med tekst,funnet: https://stackoverflow.com/questions/14263594/how-to-show-text-on-image-when-hovering*/
    position: relative;
}
/*@media screen and (max-width: 800px){ /*Vet ikke hva denne gjør*/
   /* .gallery {
        flex: 50%;
        max-width: 50%;
    }
}
@media screen and (max-width: 600px){ /*Vet ikke hva denne gjør*/
    /*.gallery {
        flex: 100%;
        max-width: 100%;
    }
}*/
.gallery:hover .desc{
    border: 1px solid lightgray;
    /*Hover effekt med tekst,funnet: https://stackoverflow.com/questions/14263594/how-to-show-text-on-image-when-hovering*/
    visibility: visible;
    opacity: 1;
}
.gallery img {
    width: 100%;
    height: auto;
}
.desc{
    padding: 5px;
    text-align: center;
    font-size: 25px;
/*Hover effekt med tekst,funnet: https://stackoverflow.com/questions/14263594/how-to-show-text-on-image-when-hovering*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(46, 49, 49, 0.72);
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
}


/*Footer*/
#main-footer{
    background-color: #333; /*Usikker på hva fargen er på "engelsk"*/
    color: white;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    padding: 30px;
    text-align: left;
}
.tekst-boks{
    padding-right: 50px;
}